.about-section {
  display: flex;
  align-items: flex-start; /* Align text to the top */
  justify-content: space-between;
  padding: 100px 50px;
  background-color: #282c34;
  color: white;
  min-height: 100vh; /* Ensure the section takes up full viewport height */
  overflow: hidden;  /* Prevent any overflow */
}


.about-content {
  flex: 1; /* Take up available space for text */
  max-width: 50%;
  z-index: 10;
  margin-right: 20px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  max-width: 70%; /* Ensure image is responsive */
  height: auto;
  border-radius: 10px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
  }

  .about-content, .about-image {
    max-width: 100%; /* Full width on mobile */
  }

  .about-image img {
    width: 300px; /* Smaller image for mobile */
    margin-bottom: 20px;
  }
}
